																	/*СТИЛЬ ФУТЕРА*/
																	//АДАПТАЦИЯ 1000px
@media (min-width: 1000px) {
footer {
	display: flex;
	margin-top: auto; 
	background-color: rgba(211, 212, 221, 0.24);
	width: 100%;
	height: 240px;
	font-family: Hauss, Segoe UI, -apple-system, Roboto, Helvetica Neue, Noto Sans, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.logo__footer { /*стиль надписи "МАГАЗИН" в футере сайта */
	width: auto;
	display: inline-flex;
	height: 60%;
	pointer-events: none;
	user-select: none;
}

.section { /*блоки меню футера (Разделы) */
	@include i-flex-end-gr;
	margin-left: auto;
	width: auto;
	height: auto;
	padding-top: 30px;
	&__item { /*блоки пунктов меню футера (Разделы) */
		margin: 5px 0;
		@include flex-center-gr;
		color: #868695;
		text-decoration: none;
		transition: color .3s;
		user-select: none;
		&_style { /*стиль разделов футера */
			color: #868695;
			text-decoration: none;
			transition: color .3s;
			width: 80px;
			&:hover { /*при наведении на раздел шапки */
				color: rgb(96, 22, 118);
			}
		}
	}
}

.contact { /*блоки меню футера (Контакты) */
	@include i-flex-end-gr;
	width: auto;
	margin-left: 30px;
	height: auto;
	padding-top: 30px;
	&__item { /*блоки пунктов меню футера (Контакты) */
		margin: 5px 0;
		display: flex;
		color: #868695;
	}
}

.footer__title { /*подзаголовок в футере */
	margin: 0 0 20px;
	font-weight: 800;
	display: flex;
	color: rgb(0, 0, 0);
	cursor: default;
}

.link { /*блок ссылок в футере*/
	//@include flex-center-gr;
	display: flex;
	justify-content: end;
	gap: 8px;
	width: auto;
	align-items: end;
	margin-bottom: 20px;
	&__item { /*ссылки в футере*/
		background-color: #fff;
		border-radius: 9px;
		&.dark-theme {
			background-color: #000000;
		}
		&-vk {
			@include flex-center;
			height: 34px;
			width: 34px;
			transition: background-color .3s;
			&-svg {
				fill: #868695;
				transition: .3s;
				padding: 11px 7px 11px 7px;
				&:hover {
					fill: #07f;
				}
			}
		}
		&-tg {
			@include flex-center;
			height: 34px;
			width: 34px;
			transition: background-color .3s;
			&-svg {
				fill: #868695;
				transition: .3s;
				padding: 9px 7px 9px 7px;
				&:hover {
					fill: #3490ec;
				}
			}
		}
		&-ok {
			@include flex-center;
			height: 34px;
			width: 34px;
			transition: background-color .3s;
			&-svg {
				fill: #868695;
				transition: .3s;
				padding: 8px 11px 8px 11px;
				&:hover {
					fill: #ff7701;
				}
			}
		}
		&-youtube {
			@include flex-center;
			height: 34px;
			width: 34px;
			transition: background-color .3s;
			&-svg {
				fill: #868695;
				transition: .3s;
				padding: 10px 7px 10px 7px;
				&:hover {
					fill: red;
				}
			}
		}
	}
}

.second-row { /*низ футера*/
	@include flex-end;
	margin: 0 10px 5px 40px;
	color: #868695;
	width: auto;
}
}




@media (max-width: 1000px) and (min-width: 768px) {
	footer {
		display: flex;
		margin-top: auto; 
		background-color: rgba(211, 212, 221, 0.24);
		width: 100%;
		height: 240px;
		font-family: Hauss, Segoe UI, -apple-system, Roboto, Helvetica Neue, Noto Sans, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
	}
	
	.logo__footer { /*стиль надписи "МАГАЗИН" в футере сайта */
		width: auto;
		display: inline-flex;
		height: 30%;
		pointer-events: none;
		user-select: none;
	}
	
	.section { /*блоки меню футера (Разделы) */
		@include i-flex-end-gr;
		width: 20vw;
		height: auto;
		padding-top: 30px;
		&__item { /*блоки пунктов меню футера (Разделы) */
			margin: 5px 0;
			@include flex-center-gr;
			color: #868695;
			text-decoration: none;
			transition: color .3s;
			user-select: none;
			&_style { /*стиль разделов футера */
				color: #868695;
				text-decoration: none;
				transition: color .3s;
				width: 80px;
				&:hover { /*при наведении на раздел шапки */
					color: rgb(96, 22, 118);
				}
			}
		}
	}
	
	.contact { /*блоки меню футера (Контакты) */
		@include i-flex-end-gr;
		width: 20vw;
		margin-left: 10px;
		height: auto;
		padding-top: 30px;
		&__item { /*блоки пунктов меню футера (Контакты) */
			margin: 5px 0;
			display: flex;
			color: #868695;
		}
	}
	
	.footer__title { /*подзаголовок в футере */
		margin: 0 0 20px;
		font-weight: 800;
		display: flex;
		color: rgb(0, 0, 0);
		cursor: default;
	}
	
	.link { /*блок ссылок в футере*/
		//@include flex-center-gr;
		display: flex;
		justify-content: end;
		gap: 8px;
		width: 30vw;
		align-items: end;
		margin-bottom: 20px;
		margin-left: 10px;
		&__item { /*ссылки в футере*/
			background-color: #fff;
			border-radius: 9px;
			&.dark-theme {
				background-color: #000000;
			}
			&-vk {
				@include flex-center;
				height: 34px;
				width: 34px;
				transition: background-color .3s;
				&-svg {
					fill: #868695;
					transition: .3s;
					padding: 11px 7px 11px 7px;
					&:hover {
						fill: #07f;
					}
				}
			}
			&-tg {
				@include flex-center;
				height: 34px;
				width: 34px;
				transition: background-color .3s;
				&-svg {
					fill: #868695;
					transition: .3s;
					padding: 9px 7px 9px 7px;
					&:hover {
						fill: #3490ec;
					}
				}
			}
			&-ok {
				@include flex-center;
				height: 34px;
				width: 34px;
				transition: background-color .3s;
				&-svg {
					fill: #868695;
					transition: .3s;
					padding: 8px 11px 8px 11px;
					&:hover {
						fill: #ff7701;
					}
				}
			}
			&-youtube {
				@include flex-center;
				height: 34px;
				width: 34px;
				transition: background-color .3s;
				&-svg {
					fill: #868695;
					transition: .3s;
					padding: 10px 7px 10px 7px;
					&:hover {
						fill: red;
					}
				}
			}
		}
	}
	
	.second-row { /*низ футера*/
		@include flex-end;
		margin: 0 10px 5px 0;
		color: #868695;
		width: 320px;;
	}
}




@media (max-width: 768px) and (min-width: 425px) {
	footer {
		display: flex;
		flex-wrap: wrap;
		margin-top: auto; 
		margin-bottom: 60px;
		background-color: rgba(211, 212, 221, 0.24);
		width: 100%;
		height: auto;
		min-height: 240px;;
		font-family: Hauss, Segoe UI, -apple-system, Roboto, Helvetica Neue, Noto Sans, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
	}
	
	.logo__footer { /*стиль надписи "МАГАЗИН" в футере сайта */
		width: 128px;
		display: inline-flex;
		height: 72px;
		pointer-events: none;
		user-select: none;
		display: none;
	}
	
	.section { /*блоки меню футера (Разделы) */
		@include i-flex-end-gr;
		margin-left: auto;
		margin-right: 10px;
		width: auto;
		height: auto;
		padding-top: 30px;
		&__item { /*блоки пунктов меню футера (Разделы) */
			margin: 5px 0;
			@include flex-center-gr;
			color: #868695;
			text-decoration: none;
			transition: color .3s;
			user-select: none;
			&_style { /*стиль разделов футера */
				color: #868695;
				text-decoration: none;
				transition: color .3s;
				width: 80px;
				&:hover { /*при наведении на раздел шапки */
					color: rgb(96, 22, 118);
				}
			}
		}
	}
	
	.contact { /*блоки меню футера (Контакты) */
		@include i-flex-end-gr;
		width: auto;
		margin-left: auto;
		margin-right: 10px;
		height: auto;
		padding-top: 30px;
		&__item { /*блоки пунктов меню футера (Контакты) */
			margin: 5px 0;
			display: flex;
			color: #868695;
		}
	}
	
	.footer__title { /*подзаголовок в футере */
		margin: 0 0 20px;
		font-weight: 800;
		display: flex;
		color: rgb(0, 0, 0);
		cursor: default;
	}
	
	.link { /*блок ссылок в футере*/
		display: flex;
		justify-content: end;
		gap: 8px;
		width: auto;
		align-items: end;
		margin-bottom: 5px;
		margin-left: 10px;
		margin-right: 10px;
		&__item { /*ссылки в футере*/
			background-color: #fff;
			border-radius: 9px;
			&.dark-theme {
				background-color: #000000;
			}
			&-vk {
				@include flex-center;
				height: 34px;
				width: 34px;
				transition: background-color .3s;
				&-svg {
					fill: #868695;
					transition: .3s;
					padding: 11px 7px 11px 7px;
					&:hover {
						fill: #07f;
					}
				}
			}
			&-tg {
				@include flex-center;
				height: 34px;
				width: 34px;
				transition: background-color .3s;
				&-svg {
					fill: #868695;
					transition: .3s;
					padding: 9px 7px 9px 7px;
					&:hover {
						fill: #3490ec;
					}
				}
			}
			&-ok {
				@include flex-center;
				height: 34px;
				width: 34px;
				transition: background-color .3s;
				&-svg {
					fill: #868695;
					transition: .3s;
					padding: 8px 11px 8px 11px;
					&:hover {
						fill: #ff7701;
					}
				}
			}
			&-youtube {
				@include flex-center;
				height: 34px;
				width: 34px;
				transition: background-color .3s;
				&-svg {
					fill: #868695;
					transition: .3s;
					padding: 10px 7px 10px 7px;
					&:hover {
						fill: red;
					}
				}
			}
		}
	}
	
	.second-row { /*низ футера*/
		display: flex;
    	align-items: end;
		margin-left: auto;
		margin-right: 10px;
		margin-bottom: 5px;
		color: #868695;
		width: auto;
	}
}




@media (max-width: 425px) {
	footer {
		display: flex;
		flex-wrap: wrap;
		margin-top: auto; 
		background-color: rgba(211, 212, 221, 0.24);
		width: 100%;
		margin-bottom: 60px;
		height: auto;
		min-height: 240px;;
		font-family: Hauss, Segoe UI, -apple-system, Roboto, Helvetica Neue, Noto Sans, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
	}
	
	.logo__footer { /*стиль надписи "МАГАЗИН" в футере сайта */
		width: 128px;
		display: inline-flex;
		height: 72px;
		pointer-events: none;
		user-select: none;
		display: none;
	}
	
	.section { /*блоки меню футера (Разделы) */
		@include i-flex-end-gr;
		margin-left: auto;
		//margin-right: 10px;
		width: auto;
		height: auto;
		padding-top: 30px;
		font-size: small;
		&__item { /*блоки пунктов меню футера (Разделы) */
			margin: 5px 0;
			@include flex-center-gr;
			color: #868695;
			text-decoration: none;
			transition: color .3s;
			user-select: none;
			&_style { /*стиль разделов футера */
				color: #868695;
				text-decoration: none;
				transition: color .3s;
				width: 80px;
				&:hover { /*при наведении на раздел шапки */
					color: rgb(96, 22, 118);
				}
			}
		}
	}
	
	.contact { /*блоки меню футера (Контакты) */
		@include i-flex-end-gr;
		width: auto;
		margin-left: auto;
		margin-right: 10px;
		height: auto;
		padding-top: 30px;
		font-size: small;
		&__item { /*блоки пунктов меню футера (Контакты) */
			margin: 5px 0;
			display: flex;
			color: #868695;
		}
	}
	
	.footer__title { /*подзаголовок в футере */
		margin: 0 0 20px;
		font-weight: 800;
		display: flex;
		color: rgb(0, 0, 0);
		cursor: default;
		font-size: small;
	}
	
	.link { /*блок ссылок в футере*/
		display: flex;
		justify-content: end;
		gap: 8px;
		width: auto;
		align-items: end;
		margin-bottom: 5px;
		margin-left: 10px;
		margin-right: 10px;
		&__item { /*ссылки в футере*/
			background-color: #fff;
			border-radius: 9px;
			&.dark-theme {
				background-color: #000000;
			}
			&-vk {
				@include flex-center;
				height: 30px;
				width: 30px;
				transition: background-color .3s;
				&-svg {
					fill: #868695;
					transition: .3s;
					padding: 9px 5px 9px 5px;
					&:hover {
						fill: #07f;
					}
				}
			}
			&-tg {
				@include flex-center;
				height: 30px;
				width: 30px;
				transition: background-color .3s;
				&-svg {
					fill: #868695;
					transition: .3s;
					padding: 7px 5px 7px 5px;
					&:hover {
						fill: #3490ec;
					}
				}
			}
			&-ok {
				@include flex-center;
				height: 30px;
				width: 30px;
				transition: background-color .3s;
				&-svg {
					fill: #868695;
					transition: .3s;
					padding: 6px 9px 6px 9px;
					&:hover {
						fill: #ff7701;
					}
				}
			}
			&-youtube {
				@include flex-center;
				height: 30px;
				width: 30px;
				transition: background-color .3s;
				&-svg {
					fill: #868695;
					transition: .3s;
					padding: 8px 5px 8px 5px;
					&:hover {
						fill: red;
					}
				}
			}
		}
	}
	
	.second-row { /*низ футера*/
		display: flex;
    	align-items: end;
		margin-left: auto;
		margin-right: 10px;
		margin-bottom: 5px;
		color: #868695;
		width: auto;
		font-size: small;
	}
}