html {
    scroll-behavior: smooth;
    body {
        margin: 0;
        background-color: #ffffff;
		font-family: Hauss, Segoe UI, -apple-system, Roboto, Helvetica Neue, Noto Sans, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
        transition: background-color 0.3s ease;
    }
}

::selection { /*стиль при копировании*/
    background: #350047;
    color: rgb(255, 255, 255);
}

																	/*СТИЛЬ ШАПКИ*/

header { /*стиль шапки и её элементов */
	@include flex-sb-gr;
    color: rgb(255, 255, 255);
	background-color: rgb(48 0 80);
	width: 100%;
	height: 72px;
	User-select: none;
	position: fixed;
	top: 0;
	z-index: 2;
	font-family: Hauss, Segoe UI, -apple-system, Roboto, Helvetica Neue, Noto Sans, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.logo__header { /*стиль надписи "МАГАЗИН" в шапке сайта */
	width: auto;
	display: inline-flex;
	pointer-events: none;
	fill: #ffffff;
	height: 72px;
}

.nav { /*блок навигации*/
	@include flex-center-vr;
	margin-left: 20px;
}

#nav__button { /*кнопка навигации*/
    @include flex-center-vr;
	background-color: transparent;
	width: 35px;
	height: 35px;
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, .4);
	justify-content: center;
	transition: border-width .3s;
	transition: border-color .3s;
    &:hover {
        border-width: 2px;
        border-color: white;
    }
}

.search { /*строка поиска (блок)*/
    @include i-flex-center-vr(inline-flex, center);
	width: 100%;
	margin-left: 10px;
    &__line { /*строка поиска */
        width: 65%;
        display: inline-flex;
        background-color: #d8c4e0;
        border-radius: 10px 10px 10px 10px;
    }
}

#search__line_line { /*непосредственно строка поиска*/
	border-radius: 10px 10px 10px 10px;
	width: 93%;
	height: 36px;
	color: #000000;
	padding-left: 13px;
	font-size: 16px;
	outline: none;
	border: 3px solid #d8c4e0;
    &.dark-theme {
        background-color: #0000005c;
        color: #ffffff;
    }
}

#search__line_button { /*кнопка поиска*/
	border-radius: 10px 10px 10px 10px;
	width: 7%;
	height: 30px;
	margin-top: 3px;
	margin-right: 3px;
	min-width: 69px;
	background-color: #d8c4e0;
	padding-left: 13px;
	font-size: 16px;
	outline: none;
	padding-right: 15px;
	border: none;
	transition: background-color .3s;
    &:hover {
        background-color: #b193bd;
    }
}

/*убираем крестик с поля ввода*/
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

/*чтобы подсказка в строке поиска была другого цвета в отличие от вводимого текста*/
input::-webkit-input-placeholder { color: rgba(0, 0, 0, 0.196) !important; }
input:-moz-placeholder { /* Firefox 18- */ color: rgba(0, 0, 0, 0.196) !important; }
input::-moz-placeholder { /* Firefox 19+ */ color: rgba(0, 0, 0, 0.196) !important; }
input:-ms-input-placeholder { color: rgba(0, 0, 0, 0.196) !important; }

.menu { /*блоки меню */
	margin: 0 5px;
	display: inline-flex;
	width: 350px;
    &__item { /*блоки пунктов меню */
        margin: auto;
        display: inline-block;
        &_style { /*стиль разделов шапки */
            @include flex-center-gr;
            color: Silver;
            text-decoration: none;
            padding: 22px 5px 0;
            width: auto;
            transition: color .3s;
            &:hover { /*при наведении на раздел шапки */
                color: white;
            }
        }
    }
}

.line { /*линия в блоке пунктов меню*/
	text-decoration: underline rgb(186, 155, 194);
	text-decoration-thickness: 5px;
	line-height: 10px;
	text-underline-offset: 13.4px;
    &-text { /*текст в линии блока пунктов меню при активном положении*/
        color: white;
    }
}

.circle { /*кружок над корзиной*/
	border-radius: 50%;
	min-width: 17px;
    height: 17px;
	text-align: center;
	color: #fff;
	background: #e50000;
	font: 10px Arial, sans-serif;
	display: inline-block;
	position: absolute;
	top: 30px;
    right: 2px;
	letter-spacing: normal;
	line-height: 18px;
	font-weight: 500;
}

body.light-theme { /*светлая тема*/
    background-color: --back-color;
    color: var(--text-color);
}

body.dark-theme { /*темная тема*/
    background-color: #121212;
    color: #ffffff;
}

#themeToggle { /*кнопка смены темы*/
	width: 20px;
	height: 20px;
	position: fixed;
	right: 10px;
	top: 5px;
	z-index: 1;
	border: none;
	background-color: #d8c4e0;
	border-radius: 50%;
	transition: .4s linear;
}

.themeToggle { /*кнопка смены темы*/
	position: fixed;
	right: 12px;
	top: 7px;
}

.tooltip { /*всплывающая подсказка(тултип) о смене темы*/
	@include wh-auto;
    position: absolute;
	top: 7px;
	right: 35px;
    &__tail { /*хвост для тултипа*/
        position: absolute;
        top: 3.5px;
        right: -2px;
        background-color: #9814ad;
        width: 10px;
        height: 5px;
        z-index: 2;
        display: none;
        transform: rotate(45deg);
    }
    &__text { /*текст тултипа*/
        white-space: nowrap;
        font-family: "PT Sans", sans-serif;
          background-color: #9814ad;
          color: #FFFFFF;
          font-size: 10px;
          padding: 2px 8px 2px 8px;
          border-radius: 10px;
          z-index: 3;
          display: none;
    }
}

/*добавляем появление текстового блока при наведении на кнопку*/
#themeToggle:hover + .tooltip__text, .tooltip__tail {
	display: block;
}